body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin: 0;
    height: 100vh;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: white;
}
.settings {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    background-color: white;
    border: black solid 1rem;
    border-top: 0;
}

.clear {
    justify-self: flex-end;
}

.pickColor {
    display: flex;
    align-items: center;
}

/* * {border: red solid 1px;} */